* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans Condensed', sans-serif
}

.zipcode-submit-button[type="submit"] {
  font-family: 'Open Sans Condensed', sans-serif;
  font-variant: small-caps;
  -webkit-appearance: button;
}