* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Open Sans Condensed', sans-serif
}

body {
	background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
	color: white;
	height: 728px;
	background-repeat: no-repeat;
}

.zipcode-submit-button[type="submit"] {
  font-family: 'Open Sans Condensed', sans-serif;
  font-variant: small-caps;
  -webkit-appearance: button;
  width: 90px;
  height: 45px;
  font-size: 30px;
  background-color: rgba(255, 255, 255, .7);
}



.page-title, .zipcode-form {
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 70px;
	display: flex;
	justify-content: center;
}

.weather {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.temperature {
	font-size: 80px;
	padding: 20px;
	display: flex;
	align-items: center;
}

.description, .location {
	display: flex;
	justify-content: center;
	font-size: 35px;
}

.cloud {
	width: 200px;
	height: 200px;
	background-image: url("images/cloudy.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 20px;
}

.partlyCloudy {
	width: 200px;
	height: 200px;
	background-image: url("images/cloudy-day-1.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 20px;
}

.sunny {
	width: 200px;
	height: 200px;
	background-image: url("images/day.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 20px;
}

.rain {
	width: 200px;
	height: 200px;
	background-image: url("images/rainy-1.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 20px;
}

.rainBackground {
	background-image: linear-gradient(to right top, #340755, #604580, #9080ac, #c5bed6, #ffffff);
}

.cloudBackground {
	background-image: linear-gradient(to right top, #6c6c6c, #8f8f8f, #b3b3b3, #d8d8d8, #ffffff);
}

.sunBackground {
	background-image: linear-gradient(to right top, #229cde, #3ab2e7, #59c8ee, #7addf5, #9df1fc);
}

.partlyCloudyBcg {
	background-image: linear-gradient(to right top, #b6c1c0, #b2cdcc, #acd9db, #a6e5ea, #9df1fc);
}





